<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side">
    <div class="left-content">
      <p>Start content 22232</p>
      <p>Buna</p>
    </div>
  </mat-sidenav>
  <mat-sidenav opened mode="side" position="end">
    <div class="right-content">
      <p>dsds</p>
      <button style="float: right" mat-fab color="primary" (click)="openDialog()">Add</button>
    </div>
  </mat-sidenav>
  <div class="main-content">
   <app-transaction-list></app-transaction-list>
  </div>

</mat-sidenav-container>
